body {
    background-color: white;
    font-family: sans-serif;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    margin-left: 1em;
    min-height: 100vh;
    font-size: x-large;
}

@keyframes slideFromLeft {
    0% {
        filter: blur(5px);
        transform: translateX(-100%);
    }
    100% {
        filter: blur(0);
        transform: translate(0);
    }
}

#navbar {
    animation: 0.5s ease-out 0s 1 slideFromLeft;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px dashed;
    background-color: white;
    z-index: 1000;
}

#navbar a {
    display: inline-block;
    list-style-type: none;
    color: black;
    padding: 20px;
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h1:hover {
    font-size: 0;
}

h1:hover:after {
    content: attr(alt-greeting);
    font-size: 32px;
    line-height: 2.81em;
}

.profile-pic {
    border-radius: 50%
}

.circle {
    background: black;
    border-radius: 50%;
    width: 205px;
    height: 205px;
}

.projects {
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.75s;
    margin-left: 20%;
    margin-right: 20%;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}